html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

@font-face {
    font-family: 'NotoEmoji';
    src: url('NotoEmoji-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
